
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
  :root{
    --font: 'Roboto Mono';
  }
  body {
  /* Change to something you like, but please do customize the font! */
  font-family: var(--font);
  line-height: 1.4;
  background-color: gray;
  margin: 0;
}
main{
  overflow-y: scroll;
}
.page1{
  height:100vh;
}
.hero{
width: 40vh;
height:100px;
margin-left:170px;
margin-top: 25px;
rotate: 90deg;
transform-origin: top left;
position: absolute;
top:0;
font-size: 50px;
color:black;
}
.sample-work{
opacity:0.3;
color:white;
position: absolute;
left:-300px;
top:30px;
pointer-events: none;
transition: all 800ms;
}
.sample-work a{
  color:white;
  text-decoration: none;
  font-size:22px;
}
.hero:has(h1:hover) ~ .sample-work,
.sample-work:hover{
opacity:1;
transform:translateX(400px);
pointer-events: all;
}
.info{
  position:absolute;
  bottom:50px;
  right:50px;
}
.page2{
  height:100vh;
  background-image:url('impressionsunrise.jpg');
  background-size: 100vw 100vh;
}
.projects{
  margin:auto;
  width:50%;
  text-align: center;
  color:white;
  font-size:50px;
}
#project{
  color:black;
  font-size:10px;
  text-shadow:1px 0 0;
  text-decoration:none;
}
#project div{
  opacity:0.5;
  width:300px;
  height:200px;
  padding:10vh;
  background-repeat:no-repeat;
  background-size: contain;
  text-align: center;
}
#project div:hover{
  opacity: 1;
}
.cyoa{
  background-image:url('pkmn.png');
  margin-right:10vw;
}
.zengarden{
  background-image: url('zengarden.jpeg');
  color:white;
  margin-left:10vw;
}
.imitation{
  background-image:url('polandspring.jpg');
  margin:auto;
}
.ad {
  visibility: hidden;
  border: 1px solid;
  padding: 1em;
  position: absolute;
  top:0;
  right:50px;
  width:25%;
  height:25%;
  background-color:red;
  z-index: 2;
}
.ad .modal {
  display: none;
}
.ad .modal.active {
  display: block;
}