body {
  /* Change to something you like, but please do customize the font! */
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  line-height: 1.4;
  background-color: gray;
}
.hero{
width: 100vh;
height:100px;
margin-left:170px;
rotate: 90deg;
transform-origin: top left;
position: fixed;
top:0;
font-size: 50px;
color:black;
}
.info{
  position:fixed;
  bottom:50px;
  right:50px;
}


.ad {
  border: 1px solid;
  padding: 1em;
  position: absolute;
  top:0;
  right:50px;
  width:25%;
  height:25%;
  background-color:red;
  z-index: 2;
}
.ad .modal {
  display: none;
}
.ad .modal.active {
  display: block;
}