body {
  /* Change to something you like, but please do customize the font! */
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  line-height: 1.4;
}
.hero{
width: 100vh;
height:100px;
margin-left:170px;
rotate: 90deg;
transform-origin: top left;
position: fixed;
top:0;
font-size: 50px;
background-color: gray;
color:black;
}